<ion-app>
  <!-- overlay menu (not a split-pane) so the hamburger button always shows and works, on any screen size -->
  <ion-menu contentId="main" menuId="main-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title class="section-title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle [autoHide]="false">
        <ion-item button="true" [routerLink]="['/home']">
          <ion-label class="body-text">Store</ion-label>
          <ion-icon slot="start" name="storefront-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle [autoHide]="false">
        <ion-item button="true" [routerLink]="['/cart']">
          <ion-label class="body-text">Cart</ion-label>
          <ion-icon slot="start" name="cart-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle [autoHide]="false">
        <ion-item button="true" detail="true" [routerLink]="['/admin/products']">
          <ion-label class="body-text">Product settings</ion-label>
          <ion-icon slot="start" name="create-sharp"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
